<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alled.alled">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllEd"
        tools:targetApi="31">
        <activity
            android:name="com.alled.alled.reminders.AlarmActivity"
            />
        <activity
            android:name="com.alled.alled.reminders.ReminderActivity"
             />
        <activity
            android:name="com.alled.alled.educationalwebsites.EducationalWebsites"
            android:exported="false" />
        <activity
            android:name="com.alled.alled.notes.activities.CreateNoteActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.alled.alled.notes.activities.NotesActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.alled.alled.calendar.CalendarActivity"
            android:exported="false" />

        <activity
            android:name="com.alled.alled.Profile_Page"
            android:exported="false" />
        <activity
            android:name="com.alled.alled.signupandlogin.Register"
            android:exported="false" />
        <activity
            android:name="com.alled.alled.signupandlogin.Login"
            android:exported="false" />
        <activity
            android:name="com.alled.alled.SplashScreen"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.alled.alled.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.alled.alled.calendar.AlarmReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name="com.alled.alled.reminders.AlarmBroadcastReceiver"
            android:enabled="false"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

            </intent-filter>
        </receiver>

        <receiver android:name="com.zubair.alarmmanager.receivers.BootCompleteReceiver"
            android:exported="true"/>

        <service android:name="com.alled.alled.reminders.AlarmService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="Instantiatable" />

        <service android:name="com.alled.alled.PushNotificationService" android:exported="false">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>

            </intent-filter>

        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>


    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

</manifest>